* {
  box-sizing: border-box;
}

:root {
  --main-color: linear-gradient(
    90deg,
    rgba(101, 13, 128, 1) 0%,
    rgba(30, 155, 164, 1) 100%
  );
  --light-gray: #d5d4d8;
  --white: #fff;
  --dark: #0d0d0d;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  color: #0d0d0d;
}

main {
  padding: 25px;
}
